<div class="clr-row clr-justify-content-center">
  <div class="clr-col-lg-5 clr-col-md-7 clr-col-12">
    <div class="card">
      <h3 class="card-header">CydeaOS</h3>
      <div class="card-content">
        <p style="padding: 10px;">Welcome back to CydeaOS. Use the below buttons to get around the application.</p>
      </div>
      <div class="card-footer" style="padding: 10px">
        <button class="btn btn-primary btn-block" [routerLink]="'/host-setup'">
          <cds-icon shape="bolt"></cds-icon>
          Host Game
        </button>
        <button class="btn btn-primary btn-block">
          <cds-icon shape="plus"></cds-icon>
          Join Game
        </button>
        <button class="btn btn-block">
          <cds-icon shape="cog"></cds-icon>
          Game Settings
        </button>
      </div>
    </div>
  </div>
</div>
