.clr-form-control {
  align-items: unset;
}

.clr-input {
    width: 100%;
}

input#game-code-input {
  font-size: 1.5em;
  text-align: center;

  padding: 10px 5px; margin: 2px .5rem 0 -.25rem;
}

clr-control-helper {
  margin-top: 10px;

  padding: 5px;
}
