<div class="main-container text-center">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-5 clr-col-m-6 clr-col-12">
      <div class="card anim-rtl">
        <h3 class="card-header">
          <cds-icon shape="exclamation-circle" size="lg"></cds-icon>
          Pre-Game Screen
        </h3>
        <div class="card-content">
          <p>Game Type: Elimination</p>

          <h3>Waiting for players...</h3>
          <br>
          <span class="spinner spinner-md">Waiting for players...</span>
        </div>

        <div class="card-footer">
          <button class="btn primary btn-block" disabled>
            Start Game
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="content-area clr-flex-fill">

  </div>
</div>

